body {
    margin: 0 auto;
    max-width: 1024px;
}
.container {
    max-width: 1100px;
    padding: 10px;
    margin: 0 auto;
    flex-direction: column;
}

header {
    background-color: green;
    display: block;
}
.p {
    text-align: center;
}

fieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px;
}

.form-check {
    display: flex;
    flex-direction: column;
}

legend {
    display: block;
    padding-left: 2px;
    padding-right: 2px;
    border: none;
    flex-direction: column;
}

input [type=text] {
   padding: 5px; 
   border: 2px solid #cccccc;
   border-radius: 5px;
}

input [type=submit] {
    padding: 5px 15px;
    background: green;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: left;
}

h6 {
    text-align: left;
}

.form-check {
    display: flex;
}

.contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5px;
}

label {
    /* Uniform size & alignment */
    display: flex;
    flex-direction: column;
    max-width: 100%;
    text-align: left;
    margin: 5px;
    padding: 5px;
}

.radio {
    display: flex;
}

input[type="text"], textarea {
    background-color: #cccccc;
}

input:focus,
textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
}

textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;

    /* Provide space to type some text */
    height: 5em;
}

.submit {
    display: flex;
    flex-direction: column;
}


footer {
    display: flex;
    flex-direction: column;
}

