.container {
    max-width: 1100px;
    padding: 10px;
    margin: 0 auto;
}

header {
    background-color: green;
    display: block;
}

fieldset {
    background-color: #eee;
}

legend {
    background-color: gray;
    color: white;
    padding: 5px 10px;
    display: flex;
    text-align: center;
}

input {
    margin: 5px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.contact {
    display: flex;
    text-align: center;
}

label {
    /* Uniform size & alignment */
    display: flex;
    max-width: 100%;
    text-align: center;
}

.radio {
    display: flex;
}

input,
textarea {
    /* To make sure that all text fields have the same font settings
    By default, textareas have a monospace font */
    font: 1em sans-serif;

    /* Uniform text field size */
    max-width: 100%;
    box-sizing: border-box;

    /* Match form field borders */
    border: 1px solid #999;
}

input:focus,
textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
}

textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;

    /* Provide space to type some text */
    height: 5em;
}

button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* Same size as the label elements */
}

button {
    /* This extra margin represent roughly the same space as the space between the labels and their text fields */
    margin-left: 0.5em;
}