body {
    margin: 0 auto;
    max-width: 1024px;
    font-family: 'IBM Plex Sans', sans-serif;
}
.container {
    max-width: 1100px;
    padding: 10px;
    margin: 0 auto;
    flex-direction: row;
    border-bottom: solid 5px green;
}

header {
    background-color: green;
    display: flex;
    justify-content: center;
}
.p {
    text-align: center;
    border-bottom: solid 5px green;
}

fieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px;
}

.form-check {
    display: flex;
    flex-direction: row;
}

.checkbox,
.radio-button {
    display: block;
}

legend {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    flex-direction: column;
    width: 80%;
}

input::placeholder {
    text-align: right;
}

input [type=text] {
   padding: 10px; 
   height: 10px;
   border: 2px solid #cccccc;
   border-radius: 5px;
   font-size: 20px;
   height: 30px;
}

.signupbtn {
    width: 100%;
    height: 60px;
    background-color: green;
    color: white;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: left;
}


h6 {
    text-align: left;
}

.form-check {
    display: flex;
}

.contact {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 5px;
}

label {
    /* Uniform size & alignment */
    display: inline-block;
    flex-direction: column;
    align-items: stretch;
    max-width: 100%;
    text-align: left;
    margin: 5px;
    padding: 5px;
}

#zip {
    width: 50%;
}


input[type="text"], textarea {
    background-color: #cccccc;
}

input:focus,
textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
}

select:focus {
    background-color: green ;
}

textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;

    /* Provide space to type some text */
    height: 5em;
    width: 100%;
    text-align: left;
}


footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}
@media screen and (min-width: 768px) {
    .label {
        flex-direction: row;
        margin: 5px;
        padding: 5px;
        height: 10px;
    }
    #zip {
        max-width: 20%;
    }

    .contact {
        flex-direction: row;
    }

    #name {
        width: 100%;
    }

    #email {
        width: 100%;
        background-color: #cccccc;
        white-space: nowrap;
    }

    #phone {
        width: 100%;
        background-color: #cccccc;
        white-space: nowrap;
    }

    #address {
        width: 100%;
        white-space: nowrap;
    }

    #city {
        width: 100%;
    }

    #state {
        width: 100%;
    }

    fieldset:first-of-type label {
        flex-basis: 25%;
        margin: auto 0;
    }

    fieldset:first-of-type input,
    fieldset:first-of-type select {
        height: 40px;
        flex-basis: 70%;
        flex-grow: 1;
    }

}


